[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cardinality = "*"
pydocs = {git = "https://5dcb24e7e3a8c7733c4e7d263df165dce0dc7017@github.com/kang-health/pydocs.git", editable = true}


[dev-packages]

pytest = "*"
ipython = "*"
pydocs = {git = "https://5dcb24e7e3a8c7733c4e7d263df165dce0dc7017@github.com/kang-health/pydocs.git", editable = true}


[requires]

python_version = "3.6"
